/frontend/.env
/backend/.env
ขยะ
/frontend/.gitignore
/frontend/README.md
/frontend/google-signin-frontend
/frontend/node_modules
/backend/node_modules
/backend/Export
/frontend/Build
/backend/controllers/user/uploads