# ไม่ติดตามไฟล์ .env ทั้งใน frontend และ backend
frontend/.env
backend/.env

# ไฟล์หรือโฟลเดอร์ขยะที่ไม่ต้องการติดตาม
ขยะ

# ไฟล์และโฟลเดอร์ที่ไม่ต้องการติดตาม
/frontend/.gitignore
/frontend/README.md
/frontend/google-signin-frontend
/frontend/node_modules
/backend/node_modules
/backend/Export
/frontend/Build
/backend/controllers/user/uploads
